<!--Edited by Huusein/Nayan-->
{% extends 'courses/nav.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Peer2Peer2-Grading : {{ assignment.assignment_name }}</title>
    <style>
        * {
            font-family: "Sen",sans-serif;
            font-style: normal;
            font-weight: 500;
            color: #030431;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        tr:nth-child(even){
            background-color: #f2f2f2
        }
        th, td {
            text-align: left;
            padding: 10px;
        }
        th {
            background: #2d3092;
            color: white;
        }
        table tr td:first-child {
            border-bottom-left-radius: 10px;
        }

        table tr td:last-child {
            border-bottom-right-radius: 10px;
        }
        table tr td:first-child {
            border-top-left-radius: 10px;
        }

        table tr td:last-child {
            border-top-right-radius: 10px;
        }
        table th:first-child {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }

        table th:last-child {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
        a {
            color: #007bff;
        }
        a:hover {
            color: #7300ff;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row-content row">
            <div class="offset-md-2 col-sm-12 col-md-8 text-center">
                <div class="offset-md-4 col-md-4">
                    <h5 style="font-size: 14px;">Assignment Name:</h5>
                </div>
                <div class="offset-md-4 offset-sm-2 col-sm-8 col-md-4">
                    <h1 style = "text-transform:capitalize;"> {{ assignment.assignment_name }} </h1>
                </div>
                <hr style="border: 1px solid gray; width: 100%;">
            </div>
        </div>
        <div class="row-content row">
            <div class="offset-md-2 col-sm-12 col-md-8">
                <table>
                    <tr>
                        <th>Username</th>
                        <th>Submission Date</th>
                        <th>Marks</th>
                        <th>Remark</th>
                        <th>Submission</th>
                    </tr>
                    {% for submission in submissions %}
                    <tr>
                        <td>{{submission.student.username}}</td>
                        <td>{{ submission.sub_date }}</td>
                        <td>{{ submission.marks }}</td>
                        <td>{{ submission.remark }}</td>
                        <td><a href="{% url 'cur_student_submission' submission.pk %}">Assignment</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
<footer style="margin-top: 50px;">
    <!--------------------------------COPY START  ---------------------------------->

    <!--? Footer Start-->

    <div class="footer-area footer-bg">
    <div class="container">
      <div class="footer-top footer-padding">
        <!-- footer Heading -->
        <div class="footer-heading">
          <div class="row justify-content-between">
            <div class="col-xl-6 col-lg-7 col-md-10">
              <div class="footer-tittle2">
                <h4>Stay Updated</h4>
              </div>
              <!-- Form -->
              <div class="footer-form mb-50">
                <div id="mc_embed_signup">
                  <form target="_blank"
                    action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                    method="get" class="subscribe_form relative mail_part" novalidate="true">
                    <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address "
                      class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Your email address'" />
                    <div class="form-icon">
                      <button type="submit" name="submit" id="newsletter-submit"
                        class="email_icon newsletter-submit button-contactForm">
                        Subscribe Now
                      </button>
                    </div>
                    <div class="mt-10 info"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-5">
              <div class="footer-tittle2">
                <h4>Let’s Get Social</h4>
              </div>
              <!-- Footer Social -->
              <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer Menu -->
   
              <div class="media contact-info" style="float: left;margin-right: 120px;">
                <span class="contact-info__icon" style="float: left;"><i class="ti-home"></i></span>
                <div class="media-body ">
                  <h3 style="color: white;">K. J. Somaiya College of Engineering<br/><span style="margin-left: 45px;">Mumbai, 400077<span></h3>
              
                </div>
              </div>
              <div class="media contact-info" style="float: left;margin-right:190px; ">
                <span class="contact-info__icon" style="float: left;"><i class="ti-tablet"></i
                ></span>
                <div class="media-body">
                  <h3 style="color: white;">+91-1234567890<br/>Mon to Fri 9am to 6pm</h3>
                 
                </div>
              </div>
              <div class="media contact-info">
                <span class="contact-info__icon" ><i class="ti-email"></i></span>
                <div class="media-body">
                  <h3 style="color: white;">peergrade123@gmail.com<br/>Send us your query anytime!</h3>
                  
                </div>
              </div>


       
      </div>
      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <div class="row d-flex align-items-center">
          <div class="col-lg-12">
            <div class="footer-copy-right text-center">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static './assets/js/popper.min.js' %}"></script>
<script src="{% static './assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static './assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static './assets/js/wow.min.js' %}"></script>
<script src="{% static './assets/js/animated.headline.js' %}"></script>
<script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static './assets/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static './assets/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint -->
<script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static './assets/js/waypoints.min.js' %}"></script>

<!-- contact js -->
<script src="{% static './assets/js/contact.js' %}"></script>
<script src="{% static './assets/js/jquery.form.js' %}"></script>
<script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static './assets/js/mail-script.js' %}"></script>
<script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{% static './assets/js/plugins.js' %}"></script>
<script src="{% static './assets/js/main.js' %}"></script>

</html>
{% endblock %}