{% extends 'courses/nav.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Peer2Peer-Grading: Peer Submission</title>
    <style>
        .margin {
            margin-top: 35px;
        }
        .radius {
            border-radius: 10px;
            /*margin-top: 35px;*/
            padding: 20px 24px;
        }
        .underline {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        background-color: #ffffff;
        height: 45px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-family: "Lucida Console", Courier, monospace;
        width:100px;
    }
    a:hover {
        color: #7300ff;
    }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row-content row">
            <div class="offset-md-2 col-sm-12 col-md-8 text-center">
                <hr style="border: 1px solid gray; width: 100%;">
            </div>
            <div class="col-md-2">
                <h5>Max Marks: {{ current_sub.assignment_id.points }}</h5>
            </div>
        </div>
        <div class="row-content row">
            <div class="offset-md-2 col-sm-12 col-md-4">
                <h4>Student Name: {{ current_sub.student.username }}</h4>
                <div class="margin">
                    <form method="post" action="{% url 'peers_assigned' current_sub.assignment_id.pk  %}">
                        {% csrf_token %}
                        <input type="number" class="underline" placeholder="Marks" name="marks" min="0" max="{{current_sub.assignment_id.points}}" autocomplete="off"><br>
                        <textarea name = "question1"  placeholder="Mention 1 thing that could be improved." rows="3" cols="45" required></textarea><br>
                        <textarea name = "question2"  placeholder="Mention 1 thing that was informative." rows="3" cols="45" required></textarea><br>
                        <textarea name = "question3"  placeholder="Mention any one thing that you learnt." rows="3" cols="45" required></textarea><br>

                        <input type="hidden" name="cur_peer" value="{{current_sub.student.pk}}">
                        <button class="btn btn-warning radius" type="submit">Save</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <h4>Submitted Files:</h4>
                {% for file in files %}
                <h5><a href="{{ file.sub.url }}">{{ file.sub.url }}</a></h5>
                {% endfor %}
            </div>

        </div>
    </div>

</body>
<footer style="margin-top: 50px;">
    <!--------------------------------COPY START  ---------------------------------->

    <!--? Footer Start-->

    <div class="footer-area footer-bg">
    <div class="container">
      <div class="footer-top footer-padding">
        <!-- footer Heading -->
        <div class="footer-heading">
          <div class="row justify-content-between">
            <div class="col-xl-6 col-lg-7 col-md-10">
              <div class="footer-tittle2">
                <h4>Stay Updated</h4>
              </div>
              <!-- Form -->
              <div class="footer-form mb-50">
                <div id="mc_embed_signup">
                  <form target="_blank"
                    action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                    method="get" class="subscribe_form relative mail_part" novalidate="true">
                    <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address "
                      class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Your email address'" />
                    <div class="form-icon">
                      <button type="submit" name="submit" id="newsletter-submit"
                        class="email_icon newsletter-submit button-contactForm">
                        Subscribe Now
                      </button>
                    </div>
                    <div class="mt-10 info"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-5">
              <div class="footer-tittle2">
                <h4>Let’s Get Social</h4>
              </div>
              <!-- Footer Social -->
              <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer Menu -->
   
              <div class="media contact-info" style="float: left;margin-right: 120px;">
                <span class="contact-info__icon" style="float: left;"><i class="ti-home"></i></span>
                <div class="media-body ">
                  <h3 style="color: white;">K. J. Somaiya College of Engineering<br/><span style="margin-left: 45px;">Mumbai, 400077<span></h3>
              
                </div>
              </div>
              <div class="media contact-info" style="float: left;margin-right:190px; ">
                <span class="contact-info__icon" style="float: left;"><i class="ti-tablet"></i
                ></span>
                <div class="media-body">
                  <h3 style="color: white;">+91-1234567890<br/>Mon to Fri 9am to 6pm</h3>
                 
                </div>
              </div>
              <div class="media contact-info">
                <span class="contact-info__icon" ><i class="ti-email"></i></span>
                <div class="media-body">
                  <h3 style="color: white;">peergrade123@gmail.com<br/>Send us your query anytime!</h3>
                  
                </div>
              </div>


       
      </div>
      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <div class="row d-flex align-items-center">
          <div class="col-lg-12">
            <div class="footer-copy-right text-center">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static './assets/js/popper.min.js' %}"></script>
<script src="{% static './assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static './assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static './assets/js/wow.min.js' %}"></script>
<script src="{% static './assets/js/animated.headline.js' %}"></script>
<script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static './assets/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static './assets/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint -->
<script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static './assets/js/waypoints.min.js' %}"></script>

<!-- contact js -->
<script src="{% static './assets/js/contact.js' %}"></script>
<script src="{% static './assets/js/jquery.form.js' %}"></script>
<script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static './assets/js/mail-script.js' %}"></script>
<script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{% static './assets/js/plugins.js' %}"></script>
<script src="{% static './assets/js/main.js' %}"></script>

</html>
{% endblock %}