{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peer2Peer-Grading: Password Reset</title>
          <link rel="stylesheet" href="{% static 'assets1/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/Ionicons/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/css/custom.css' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/som_icon.png' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/css/slicknav.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/css/flaticon.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/css/gijgo.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/css/animate.min.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/css/slick.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/css/nice-select.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}" />
  <style>
    .form-control{
      width: 40%;
    }
    form{
      margin-left: 10%;
    }
  </style>
</head>
<body>
<header>
    <!-- Header Start -->
    <div class="header-area">
      <div class="main-header">
        <div class="header-top d-none d-lg-block">

          <div class="container">
            <div class="col-xl-12">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="header-info-left">
                  <ul>
                    {% if user.is_authenticated %}
                       <li>{{user.username}}</li>
                      <li>{{user.email}}</li>
                      {% else %}
                      <li>Login to explore</li>
                      {% endif %}
                  </ul>
                </div>
                <div class="header-info-right">
                  <ul>
                    {% if user.is_authenticated %}
                    <a style="color:blue;" href="{% url 'logout' %}"><i class="ti-user"></i>Logout</a>
                    {% else %}
                    <li>
                      <a href="{% url 'login' %}"><i class="ti-user"></i>Login</a>
                    </li>
                    <li>
                      <a href="{% url 'signup' %}"><i class="ti-lock"></i>Register</a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom header-sticky">

          <div class="container">
            <div class="menu-wrapper">
              <!-- Logo -->
              <div class="logo logo2">
                <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo/somaiya.png' %}"
                    alt="Somaiya Vidyavihar University" width="180" heigth="60" /></a>
              </div>

              <div class="main-menu d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'homepage' %}">Created Classes</a></li>
                    <li><a href="{% url 'joinclass' %}">Joined Classes</a></li>
                    {% endif %}
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                  </ul>
                </nav>
              </div>

            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
  </header>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Reset Password</button>
    </form>
<script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
  <!-- Jquery, Popper, Bootstrap -->
  <script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static './assets/js/popper.min.js' %}"></script>
  <script src="{% static './assets/js/bootstrap.min.js' %}"></script>
  <!-- Jquery Mobile Menu -->
  <script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

  <!-- Jquery Slick , Owl-Carousel Plugins -->
  <script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static './assets/js/slick.min.js' %}"></script>
  <!-- One Page, Animated-HeadLin -->
  <script src="{% static './assets/js/wow.min.js' %}"></script>
  <script src="{% static './assets/js/animated.headline.js' %}"></script>
  <script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

  <!-- Date Picker -->
  <script src="{% static './assets/js/gijgo.min.js' %}"></script>
  <!-- Nice-select, sticky -->
  <script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static './assets/js/jquery.sticky.js' %}"></script>

  <!-- counter , waypoint -->
  <script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
  <script src="{% static './assets/js/waypoints.min.js' %}"></script>

  <!-- contact js -->
  <script src="{% static './assets/js/contact.js' %}"></script>
  <script src="{% static './assets/js/jquery.form.js' %}"></script>
  <script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
  <script src="{% static './assets/js/mail-script.js' %}"></script>
  <script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>

  <!-- Jquery Plugins, main Jquery -->
  <script src="{% static './assets/js/plugins.js' %}"></script>
  <script src="{% static './assets/js/main.js' %}"></script>
</body>
</html>